.admin_image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.size {
  margin-top: 100px;
}

.navbar .navbar-brand {
  color: rgba(247, 218, 55, 0.85);
  font-size: 1rem;
  padding-top: 0.45rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(16 12 12);
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-top: 80px;
  background: rgb(63, 78, 181);
  background: radial-gradient(
    circle,
    rgba(63, 78, 181, 1) 7%,
    rgba(250, 231, 126, 1) 86%
  );
  /* background-color: rgb(250, 216, 107) !important; */
}
